

body {
    max-width: 1500px;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

.title {
    color: #444;
    font-size: 48px;
}

.green {
    color: #21A969;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background-image: url(https://images.unsplash.com/photo-1618123069754-cd64c230a169?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHRleHR1cmElMjBuZWdyYXxlbnwwfHwwfHx8MA%3D%3D);
    padding: 20px;
    text-align: center;
    padding-top: 25%;
}

#Saulo{
    width: 300px;
    position: absolute;
    top: 15%;
    left: 4%;
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.content {
   margin-left: 27%;
}

#Lhoja{
    position: absolute;
    left: 15%;
    top: 10%;
}